body{
    background: #ffffff;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}
.logo{
  height: 100%;
  width: 50%;
  padding-bottom: 25%;
}

.cart-icon {
  position: relative;
  margin-right: 80px;
  margin-bottom: 19%;
}
.cart-icon i {
  font-size: 24px;
}
.cart-count {
  position: absolute;
  top: 12px;
  right: -8px;
  background-color: #4CAF50;
  color: white;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.card {
  width: 300px;
  border: 1px solid #afafaf;
  padding: 20px;
  text-align: center;
  float: left;
   margin: 40px;
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  
}
.card h3 {
  margin-bottom: 5px;
}

.card p {
  margin-bottom: 10px;
}
.btn-buy {
  background-color: rgb(197, 63, 14);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.btn-buy:hover{
  background-color: rgb(235, 82, 82);
}

.add-to-cart {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.add-to-cart:hover {
  background-color: #45a049;
}

.search-container {
position: relative;
text-align: center; 
margin-bottom: 15%;
right: 200px;
}

.search-container input[type="text"] {
width: 500px;
height: 20px;
padding: 10px;
border: none;
border-radius: 4px;
}
.search-container button[type="submit"] {
position: relative;
top: 0;
left: 10px;
padding: 10px;
border: none;
background-color: transparent;
}
.btn{
margin-right: 100px;
height: 60px;
width: 40px;
display: flex;
gap: 12px;
text-align: center;
text-decoration: none;
margin-bottom: 16%;
justify-content: space-between;
}
#btn-login{
height: 28px;
width: 60px;
display: flex;
justify-content: space-between;
background: #BA55D3;
cursor: pointer;
border-radius: 15px;
margin-right: 82%;
text-align: center;
color: aliceblue;
gap: 12px;
}
#btn-signup{
height: 28px;
background: #FF8C00;
width: 60px;
display: flex;
justify-content: center;
border-radius: 15px;
text-align: center;
text-decoration: none;
color: aliceblue;
gap: 12px;
cursor: pointer;
}

#btn-login:hover{
  background: #8B008B;
}
#btn-signup:hover{
  background: #FFA500;
}

